.add-task-btn {
  background-color: blue;
  color: azure;
}
.add-task-input {
  background-color: lightsalmon;
  padding: 10px;
  border: 3px solid black;
}
.add-task-action {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.task-list li {
  margin-top: 10px;
  background-color: blue;
  color: white;
  padding: 10px;
  border: 5px solid gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.task-list .completed {
  text-decoration: line-through;
}
